
.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.youtube-block {
  padding: 10px;
}

.twitch-block {
  padding: 10px;
}

img {
  height: 240px;
  margin: 10px;
  display: block;
  max-width: 300px;
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1.05);
}

.mk64com-block {
  background: #ff000000;
  padding: 10px;
}

.title-text {
  font-size: x-large;
}

div {
 padding-bottom: 30px;
}